<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- sit icon -->
    <link rel="icon" href="img/icon.png">

    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/bd215512d5.js" crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mystyle.css">

    <title>وبلاگ امیر نبوی</title>
</head>

<body class="container-fluid" style="background-color: #f5f6fa">
    <header>

        <!-- navbar menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark row fixed-top">
            <div class="">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a class="navbar-brand" href="#">AMIR313</a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">خانه</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown">
                                    تکنولوژی
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="#">پایتون</a></li>
                                    <li><a class="dropdown-item" href="#">جنگو</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1">سمعی بصری</a>
                            </li>

                            <li class="nav-item"><a class="nav-link active" href="">شعر</a></li>
                        </ul>

                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="جستجو">
                            <button class="btn btn-outline-success" type="submit">جستجو </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navbar menu -->

    </header>


    <main class="container">
        <!-- carousel -->
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="padding-top: 56px;">
            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class=""></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="img/slider1.jpg" alt="">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h2>پست اول</h2>
                            <p>خلاصه متن پست</p>
                            <p><a class="btn btn-lg btn-blue" href="#" role="button"> ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <img src="img/slider2.jpg" alt="">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h2>پست دوم</h2>
                            <p>خلاصه متن .</p>
                            <p><a class="btn btn-lg btn-blue" href="#" role="button">ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/slider3.jpg" alt="">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h2>پست سوم</h2>
                            <p>خلاصه متن</p>
                            <p><a class="btn btn-lg btn-blue" href="#" role="button">ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">قبلی</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">بعدی</span>
            </a>
        </div>
        <!-- end carousel -->

        <!-- content -->
        <div class="row" style="padding-top: 15px;">
            <div class="col-12 col-md-8">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">عکس پست</text>
                        </svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <h3> <strong class="d-inline-block mb-2 text-primary">عنوان پست</strong></h3>
                        <div class="mb-1 text-muted">فروردین ۱۴۰۰</div>
                        <p class="card-text mb-auto ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                            می باشد. و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد...</p>
                        <a href="#" class="stretched-link a_text">مطالعه بیشتر</a>
                    </div>

                </div>

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">عکس پست</text>
                        </svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <h3><strong class="d-inline-block mb-2 text-primary">عنوان پست</strong>
                        </h3>
                        <div class="mb-1 text-muted">فروردین ۱۴۰۰</div>
                        <p class="card-text mb-auto">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                            می باشد. و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد...</p>
                        <a href="#" class="stretched-link a_text">مطالعه بیشتر</a>
                    </div>

                </div>

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">عکس پست</text>
                        </svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <h3> <strong class="d-inline-block mb-2 text-primary">عنوان پست</strong></h3>

                        <div class="mb-1 text-muted">فروردین ۱۴۰۰</div>
                        <p class="card-text mb-auto">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                            می باشد. و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد...</p>
                        <a href="#" class="stretched-link a_text">مطالعه بیشتر</a>
                    </div>

                </div>

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">عکس پست</text>
                        </svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <h3> <strong class="d-inline-block mb-2 text-primary">عنوان پست</strong>
                        </h3>
                        <div class="mb-1 text-muted">فروردین ۱۴۰۰</div>
                        <p class="card-text mb-auto">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                            می باشد. و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد...</p>
                        <a href="#" class="stretched-link a_text">مطالعه بیشتر</a>
                    </div>

                </div>

                <div class="container ">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">۱</a></li>
                            <li class="page-item"><a class="page-link" href="#">۲</a></li>
                            <li class="page-item"><a class="page-link" href="#">۳</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">۴</a></li>
                            <li class="page-item"><a class="page-link" href="#">۵</a></li>

                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <!-- about me -->
                <div class="bg-light box-border">
                    <h3 class="bg-dark text-white text-center ">درباره من</h3>
                    <p class="mb-0 padding-10" style="text-align: justify;">لورم ایپسوم یا طرح‌نما به متنی آزمایشی و
                        بی‌معنی در صنعت چاپ، صفحه‌آرایی
                        و طراحی
                        گرافیک گفته می‌شود.
                        طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و
                        کلی طرح سفارش
                        گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن
                        باشد.لورم ایپسوم یا
                        طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
                </div>

                <!-- aparat video -->
                <div class="box-border bg-dark" style="margin-top: 16px;">
                    <h3 class="text-center" style="color: #fff;">آخرین ویدئو آپارات من</h3>
                    <style>
                        .h_iframe-aparat_embed_frame {
                            position: relative;
                        }

                        .h_iframe-aparat_embed_frame .ratio {
                            display: block;
                            width: 100%;
                            height: auto;
                        }

                        .h_iframe-aparat_embed_frame iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    </style>
                    <div class="h_iframe-aparat_embed_frame"><span
                            style="display: block;padding-top: 57%"></span><iframe
                            src="https://www.aparat.com/video/video/embed/videohash/0pYc3/vt/frame"
                            title="زيرنويس فارسي يوتويوب" allowFullScreen="true" webkitallowfullscreen="true"
                            mozallowfullscreen="true"></iframe></div>
                </div>

                <!-- aparat live -->
                <div class=" bg-dark" style="margin-top: 16px;">
                    <div class="box-border">
                        <h3 class="text-center text-white">پخش زنده آپارات</h3>
                        <style>
                            .h_iframe-aparat_embed_frame {
                                position: relative;
                            }

                            .h_iframe-aparat_embed_frame .ratio {
                                display: block;
                                width: 100%;
                                height: auto;
                            }

                            .h_iframe-aparat_embed_frame iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        </style>
                        <div class="h_iframe-aparat_embed_frame"> <span
                                style="display: block;padding-top: 57%"></span><iframe scrolling="no"
                                allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
                                src="https://www.aparat.com/embed/live/amirnabavi.ir"></iframe></div>
                    </div>
                </div>
                <!-- archive -->
                <div class=" bg-light box-border" style="margin-top: 16px;">
                    <h3 class="bg-dark text-white text-center">آرشیو مطالب</h3>
                    <div class="padding-10">
                        <ol class="list-unstyled mb-0">
                            <li><a class="a_text" href="#">فروردین ۱۴۰۰</a></li>

                        </ol>
                    </div>
                </div>

            </div>
        </div>

        <!-- end content -->

    </main>


    <footer class="footer" style="    margin-top: 26px; padding-top: 15px;">
        <div class="padding-10 container">
            <a href="https://www.instagram.com/m_amir_nabavi"><i class="fa fa-instagram "
                    style="font-size:xx-large ;padding-left: 7px;"></i></a>
            <a href="https://github.com/mohamadamirnabavi"><i class="fa fa-github "
                    style="font-size:xx-large ;padding-left: 7px;"></i></a>
            <a href="https://t.me/M_amir_nn"><i class="fa fa-telegram "
                    style="font-size:xx-large ;padding-left: 7px;"></i></a>
        </div>
        <div>
            <h5 style="padding-bottom: 30px; background-color: black;">
                Created by
                <a href="https://amir313.ir" class="footer__text" target="_blank" rel="noopener">amir313.ir</a>
                &copy; 2021
            </h5>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <script src="js/main.js"></script>
</body>

</html>