<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- sit icon -->
    <link rel="icon" href="img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <!--     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> -->

    <title>وبلاگ امیر نبوی</title>
</head>

<body class="container-fluid" style="background-color: #f5f6fa">
    <header>

        <!-- navbar menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark row fixed-top">
            <div class="">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a class="navbar-brand" href="#">AMIR313</a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">خانه</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    تکنولوژی
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">پایتون</a></li>
                                    <li><a class="dropdown-item" href="#">جنگو</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">سمعی بصری</a>
                            </li>

                            <li class="nav-item"><a class="nav-link active" href="">شعر</a></li>
                        </ul>

                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">جستجو </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navbar menu -->

    </header>


    <main class="container">
        <!-- carousel -->
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="padding-top: 56px;">
            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class=""></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="img/slider1.jpg" alt="">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h2>پست اول</h2>
                            <p>خلاصه متن پست</p>
                            <p><a class="btn btn-lg btn-blue" href="#" role="button"> ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <img src="img/slider2.jpg" alt="">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h2>پست دوم</h2>
                            <p>خلاصه متن .</p>
                            <p><a class="btn btn-lg btn-blue" href="#" role="button">ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/slider3.jpg" alt="">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h2>پست سوم</h2>
                            <p>خلاصه متن</p>
                            <p><a class="btn btn-lg btn-blue" href="#" role="button">ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">قبلی</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">بعدی</span>
            </a>
        </div>
        <!-- end carousel -->

        <!-- cntent -->
        <div class="row" style="padding-top: 15px;">
            <div class="col-8">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: ظفري" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">عکس پست</text>
                        </svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <h3> <strong class="d-inline-block mb-2 text-primary">عنوان پست</strong></h3>
                        <div class="mb-1 text-muted">فروردین ۱۴۰۰</div>
                        <p class="card-text mb-auto ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                            می باشد. و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد...</p>
                        <a href="#" class="stretched-link">مطالعه بیشتر</a>
                    </div>

                </div>

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: ظفري" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">عکس پست</text>
                        </svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <h3><strong class="d-inline-block mb-2 text-primary">عنوان پست</strong>
                        </h3>
                        <div class="mb-1 text-muted">فروردین ۱۴۰۰</div>
                        <p class="card-text mb-auto">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                            می باشد. و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد...</p>
                        <a href="#" class="stretched-link">مطالعه بیشتر</a>
                    </div>

                </div>

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: ظفري" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">عکس پست</text>
                        </svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <h3> <strong class="d-inline-block mb-2 text-primary">عنوان پست</strong></h3>

                        <div class="mb-1 text-muted">فروردین ۱۴۰۰</div>
                        <p class="card-text mb-auto">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                            می باشد. و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد...</p>
                        <a href="#" class="stretched-link">مطالعه بیشتر</a>
                    </div>

                </div>

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: ظفري" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">عکس پست</text>
                        </svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                      <h3>  <strong class="d-inline-block mb-2 text-primary">عنوان پست</strong>
                      </h3>
                        <div class="mb-1 text-muted">فروردین ۱۴۰۰</div>
                        <p class="card-text mb-auto">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                            می باشد. و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد...</p>
                        <a href="#" class="stretched-link">مطالعه بیشتر</a>
                    </div>

                </div>



            </div>

            <div class="col-4">

            </div>
        </div>

        <!-- end content -->

    </main>


<footer class="footer">
    <p >
        Created by
        <a href="https://amir313.ir" class="footer__text" target="_blank" rel="noopener">amir313.ir</a>
        &copy;2021
    </p>
</footer>

    <!-- Optional JavaScript -->
    <script src="js/main.js"></script>
    <!-- Popper.js first, then Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
</body>

</html>