<nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
    <div class="">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" href="{% url 'blog:home' %}">AMIR313</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href=" {% url 'blog:home' %}">صفحه اصلی</a>
                    </li>

                    {% for cats in cat  %}

                    {% if cats.parent == none %}

                    <li class="{% if cats.children.active %} nav-item dropdown {% else %} nav-item {% endif %}">
            <a class="{% if cats.children.active %} nav-link dropdown-toggle active " id="navbarDropdown"
                 role="button" data-bs-toggle="dropdown" {% else %} nav-link active"{% endif %}
                            href="{% url 'blog:category' cats.slug %}">{{cats.title}}</a>

                        {% if cats.children.active %}
                        {% include 'blog/partials/category_child.html' %}
                        {% endif %}

                    </li>

                    {% endif %}

                    {% endfor %}




                </ul>
                </li>

                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="جستجو">
                    <button class="btn btn-outline-success" type="submit">جستجو </button>
                </form>
            </div>
        </div>
    </div>
</nav>