{% load static %}
{% load base_tags %}

<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- sit icon -->
    <link rel="icon" href=" {% static 'blog/css/icon.png' %} ">

    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/bd215512d5.js" crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/mystyle.css' %}">

    <title>{% title %}
        {% block title %}

        {% endblock title %}
    </title>
</head>

<body class="container-fluid" style="background-color: #f5f6fa">
    <header>

        <!-- navbar menu -->


        {% categoty_navbar %}



        <!-- end navbar menu -->

    </header>


    {% block content %}

    {% endblock content %}


    <footer class="footer" style="    margin-top: 26px; padding-top: 15px;">
        <div class="padding-10 container">
            <a href="https://www.instagram.com/m_amir_nabavi"><i class="fa fa-instagram "
                    style="font-size:xx-large ;padding-left: 7px;"></i></a>
            <a href="https://github.com/mohamadamirnabavi"><i class="fa fa-github "
                    style="font-size:xx-large ;padding-left: 7px;"></i></a>
            <a href="https://t.me/M_amir_nn"><i class="fa fa-telegram "
                    style="font-size:xx-large ;padding-left: 7px;"></i></a>
        </div>
        <div>
            <h5 style="padding-bottom: 30px; background-color: black;">
                Created By
                <a href=" {% url 'blog:home' %} " class="footer__text" target="_blank" rel="noopener">Amir313.ir</a>
                &copy; 2021
            </h5>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <script src="{% static '/blog/js/main.js' %}"></script>

</body>

</html>