{% extends 'blog/base.html' %}
{% load static %}
{% load base_tags %}


{% block title %}
| صفحه اصلی
{% endblock title %}


{% block content %}



<main class="container">

    <!-- carousel -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="padding-top: 56px;">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class=""></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2" class=""></li>
        </ol>

        <div class="carousel-inner">
            {% for slids in slid  %}
            <div class="carousel-item item{% if forloop.first %} active{% endif %}">
                <img src=" {{slids.image.url}} " alt="{{slids.title}}">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h2>{{slids.title}}</h2> </h2>
                        <p>{{slids.description}}</p> </p>
                        <p><a class="btn btn-lg btn-blue" href="{{slids.link}} " role="button">{{slids.btn_txt}} </a>
                        </p>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">قبلی</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">بعدی</span>
        </a>
    </div>
    <!-- end carousel -->

    <!-- content -->
    <div class="row" style="padding-top: 15px;">
        <div class="col-12 col-md-8">

            <h3 class="alert bg-dark text-white text-center"> صفحه اصلی </h3>
            {% for posts in post  %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">عکس پست</text>
                    </svg>
                </div>

                <div class="col p-4 d-flex flex-column position-static">
                    <h3> <strong class="d-inline-block mb-2 text-primary"> {{posts.title}} </strong></h3>
                    <div class="mb-1 text-muted"> {{posts.jpublish}} </div>
                    <p class="card-text mb-auto ">
                        {{posts.short_description|linebreaks|truncatewords:58}}
                    </p>
                    <a href=" {% url 'blog:detail' posts.slug %}" class="stretched-link a_text">مطالعه بیشتر</a>
                </div>

            </div>
            {% endfor %}

<!-- pagination -->

            <div class="container ">

                {% if post.has_other_pages %}
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if post.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="{% url 'blog:home' post.previous_page_number %}">&laquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}

                        {% for i in post.paginator.page_range %}
                        {% if post.number == i %}
                        
                        <li class="page-item active" aria-current="page"><a class="page-link"
                                href="{%  url 'blog:home'  i  %}">{{ i }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="{%  url 'blog:home'  i  %}">{{ i }}</a></li>
                        {% endif %}


                        {% endfor %}


                        {% if post.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="{% url 'blog:home' post.next_page_number %}">&raquo;</a>
                        </li>
                        {% else %}
                        <li class="disabled page-item"></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
<!-- end pagination -->

        </div>
        <div class="col-12 col-md-4">
            <!-- about me -->

            {% for abouts in about  %}
            <div class="bg-light box-border">
                <h3 class="bg-dark text-white text-center ">درباره من</h3>
                <div class="mb-0 padding-10" style="text-align: justify;">
                    {{abouts.about_me|linebreaks}}
                </div>
            </div>
            {% endfor %}



            <!-- aparat video -->
            <div class="box-border bg-dark" style="margin-top: 16px;">
                <h3 class="text-center" style="color: #fff;">آخرین ویدئو آپارات من</h3>
                <style>
                    .h_iframe-aparat_embed_frame {
                        position: relative;
                    }

                    .h_iframe-aparat_embed_frame .ratio {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    .h_iframe-aparat_embed_frame iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                </style>
                <div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe
                        src="https://www.aparat.com/video/video/embed/videohash/0pYc3/vt/frame"
                        title="زيرنويس فارسي يوتويوب" allowFullScreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true"></iframe></div>
            </div>

            <!-- aparat live -->
            <div class=" bg-dark" style="margin-top: 16px;">
                <div class="box-border">
                    <h3 class="text-center text-white">پخش زنده آپارات</h3>
                    <style>
                        .h_iframe-aparat_embed_frame {
                            position: relative;
                        }

                        .h_iframe-aparat_embed_frame .ratio {
                            display: block;
                            width: 100%;
                            height: auto;
                        }

                        .h_iframe-aparat_embed_frame iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    </style>
                    <div class="h_iframe-aparat_embed_frame"> <span
                            style="display: block;padding-top: 57%"></span><iframe scrolling="no" allowFullScreen="true"
                            webkitallowfullscreen="true" mozallowfullscreen="true"
                            src="https://www.aparat.com/embed/live/amirnabavi.ir"></iframe></div>
                </div>
            </div>
            <!-- archive -->
            <div class=" bg-light box-border" style="margin-top: 16px;">
                <h3 class="bg-dark text-white text-center">آرشیو مطالب</h3>
                <div class="padding-10">
                    <ol class="list-unstyled mb-0">
                        <li><a class="a_text" href="#">فروردین ۱۴۰۰</a></li>

                    </ol>
                </div>
            </div>

        </div>
    </div>

    <!-- end content -->

</main>
{% endblock content %}