  .footer {
      text-align: center;
      font-size: 1.2rem;
      height: 100px;
      width: 100%;
      bottom: 0 !important;
      background-color: black;
      color: white;
      display: flex;
      align-items: flex-end;
      justify-content: center;
  }

  .footer__text {
      color: red;
      text-decoration: none;
  }
  .footer__text:hover{
      color: #f1c40f;
  }