{% extends 'blog/base.html' %}

{% block title %}
| {{post.title}}
{% endblock title %}

{% block content %}


<main class="container">

    <!-- post detail -->
    <div class="row">
        <div class="col-12 col-md-8">

            <article class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta"> {{post.jpublish}} </p>
                <div class="text-center" style="padding-bottom: 30px;">
                    <img class="text-end" src=" {{post.thumbnail.url}} " width="230" alt=" {{post.title}} ">
                </div>
                <p class="col-auto d-none d-lg-block"> {{post.short_description|truncatewords:50}} </p>
                <hr>
                <p> {{post.description| safe|linebreaks}} </p>
                <div class="text-center">
                    <a href="{% url 'blog:author' post.author.username %}">نویسنده:
                    {{post.author.get_full_name }}</a>
                </div>
            </article><!-- /.blog-post -->




        </div>
        <div class="col-12 col-md-4">
            <!-- about me -->
            <div class="bg-light box-border">
                <h3 class="bg-dark text-white text-center ">درباره من</h3>
                <div class="mb-0 padding-10" style="text-align: justify;">

                    {% for abouts in about %}

                    {{abouts.about_me|linebreaks|truncatewords:50}}
                    {% endfor %}

                </div>
            </div>

            <!-- aparat video -->
            <div class="box-border bg-dark" style="margin-top: 16px;">
                <h3 class="text-center" style="color: #fff;">آخرین ویدئو آپارات من</h3>
                <style>
                    .h_iframe-aparat_embed_frame {
                        position: relative;
                    }

                    .h_iframe-aparat_embed_frame .ratio {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    .h_iframe-aparat_embed_frame iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                </style>
                <div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe
                        src="https://www.aparat.com/video/video/embed/videohash/0pYc3/vt/frame"
                        title="زيرنويس فارسي يوتويوب" allowFullScreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true"></iframe></div>
            </div>

            <!-- aparat live -->
            <div class=" bg-dark" style="margin-top: 16px;">
                <div class="box-border">
                    <h3 class="text-center text-white">پخش زنده آپارات</h3>
                    <style>
                        .h_iframe-aparat_embed_frame {
                            position: relative;
                        }

                        .h_iframe-aparat_embed_frame .ratio {
                            display: block;
                            width: 100%;
                            height: auto;
                        }

                        .h_iframe-aparat_embed_frame iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    </style>
                    <div class="h_iframe-aparat_embed_frame"> <span
                            style="display: block;padding-top: 57%"></span><iframe scrolling="no" allowFullScreen="true"
                            webkitallowfullscreen="true" mozallowfullscreen="true"
                            src="https://www.aparat.com/embed/live/amirnabavi.ir"></iframe></div>
                </div>
            </div>
            <!-- archive -->

            <div class=" bg-light box-border" style="margin-top: 16px;">
                <h3 class="bg-dark text-white text-center">آرشیو مطالب</h3>
                <div class="padding-10">
                    <ol class="list-unstyled mb-0">
                        <li><a class="a_text" href="#">فروردین ۱۴۰۰</a></li>

                    </ol>
                </div>
            </div>

        </div>
    </div>


    </div>

</main>

{% endblock content %}